---
layout: default
---

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>
            {% if page.category %}
            <span class="post-category">
                <a href="{{ site.baseurl }}/pages/{{ page.category }}.html">{{ page.category | capitalize }}</a>
            </span>
            {% endif %}
            {% if page.series %}
            <span class="post-series">
                Series: {{ page.series }}
            </span>
            {% endif %}
        </div>
    </header>
    
    <div class="post-content">
        {{ content }}
    </div>
    
    {% if page.tags %}
    <div class="post-tags">
        <strong>Tags:</strong>
        {% for tag in page.tags %}
        <span class="post-tag">{{ tag }}</span>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="post-share">
        <strong>Share:</strong>
        <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank">Twitter</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank">Facebook</a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | url_encode }}" target="_blank">LinkedIn</a>
    </div>
    
    {% if site.disqus.shortname %}
    <div class="post-comments">
        {% include disqus_comments.html %}
    </div>
    {% endif %}
    
    <div class="post-navigation">
        <div class="post-navigation-prev">
            {% if page.previous.url %}
            <a href="{{ site.baseurl }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
            {% endif %}
        </div>
        <div class="post-navigation-next">
            {% if page.next.url %}
            <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
            {% endif %}
        </div>
    </div>
</article>